html.no-js(lang='en')
  head
    meta(content='Buy Real Instagram Followers | Instagram Likes from InstagramHelper', property='og:title')
    meta(content='website', property='og:type')
    meta(content='http://127.0.0.1:3000/', property='og:url')
    meta(content='/images/featured-3702d9ec.jpg', property='og:image')
    meta(content='Instagram bot for likes, follows, unfollows and schedule posts - InstagramHelper', property='og:site_name')
    meta(content='InstagramHelper offers real Instagram followers and likes in three clicks. We provide a full range of actions & settings to help you increase & target specific fans.', property='og:description')
    meta(content='1356480217', property='fb:admins')
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    title Buy Real Instagram Followers | Instagram Likes from InstagramHelper
    meta(content='Copyright InstagramHelper 2015. All rights reserved worldwide. Contents of this site may not be reproduced without prior consent.', name='copyright')
    meta(content='Same as description', name='abstract')
    meta(content='InstagramHelper offers real Instagram followers and likes in three clicks. We provide a full range of actions & settings to help you increase & target specific fans.', name='description')
    link(href='/assets/images/favicon.ico', rel='shortcut icon', type='image/x-icon')
    link(href='/images/mystyle.css', rel='stylesheet')
  body.index
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NZHV49', height='0', width='0', style='display:none;visibility:hidden')
    #menu-bar
      .row
        .large-12.columns
          nav.top-bar(data-options='is_hover: false', data-topbar='')
            ul.title-area
              li.name
                a(href='/')
                  img(src='/images/boostgram-4c224eb7.png')
              li.toggle-topbar.menu-icon
                a(href='javascript:void(0)')
            section.top-bar-section
              ul.right.left-menu
                li
                  a.scroll(href='/#how-it-works') How It Works
                li
                  a.scroll(href='/#features') Features
                li
                  a(href='https://app.instagramhelper.com/signup') Get Free Followers
                li
                  a(href='https://app.InstagramHelper.com/') Sign In
    #featured-wrapper
      .row
        .large-12.columns
          h2 Automate Your Instagram Activity
          h3 Get real followers, likes, and comments on your instagram in three clicks.
          a.button.orange.xlarge(href='https://app.InstagramHelper.com/signup') Start Your 3 Day Free Trial
    #how-it-works
    #content-wrapper
      .row
        .large-12.columns
          h2.dark How It Works
      .row
        .large-4.columns
          i.fa.fa-instagram.icons
          h3 Connect to Instagram
          p
            | To get started, connect your Instagram account to InstagramHelper. Once you're connected, you will be allowed to access our dashboard.
        .large-4.columns
          i.fa.fa-cogs.icons
          h3 Enter your Preferences
          p
            | Now that you're in the InstagramHelper dashboard, you'll want to setup your account to target the type of audience you want to engage with.
        .large-4.columns
          i.fa.fa-toggle-on.icons
          h3 Save & Start
          p
            | Once you have perfected your settings press the Save & Start button. Now, sit back, and enjoy your new organic fans and engagement.
    #middle-wrapper
      .row
        .large-12.columns
          a.button.orange.xlarge(href='https://app.InstagramHelper.com/signup') Start Your 3 Day Free Trial
    #features
    #content-wrapper
      .row
        .large-12.columns
          h2.dark Our Features
      .row
        .large-4.columns
          .col-box
            i.fa.fa-spinner
            h3 Automated Activity
            p
              | InstagramHelper automatically interacts with new fans on your behalf. This leads to thousands of new people following, liking, and interacting with your profile.
        .large-4.columns
          .col-box
            i.fa.fa-gift
            h3 Schedule Posts
            p
              | Create a unique Instagram campaign or plan posts in advance, InstagramHelper lets you schedule any content to be posted now or in the future.
        .large-4.columns
          .col-box
            i.fa.fa-cloud
            h3 Full Control
            p
              | We provide a full range of actions and settings to help you increase and target highly specific fans on your Instagram account.
      .row
        .large-4.columns
          .col-box
            i.fa.fa-venus-mars
            h3 Gender Targeting
            p
              | Our customized gender targeting allows you to automatically interact with either female, male or both audiences.
        .large-4.columns
          .col-box
            i.fa.fa-location-arrow
            h3 Location Targeting
            p
              | Targeting by location allows you to focus your efforts to specific geographic areas. This is very effective for local and regional businesses.
        .large-4.columns
          .col-box
            i.fa.fa-download
            h3 No Download
            p
              | Our enterprise level software runs entirely on our own web servers, so there is no need to download or install any applications.
      .row
        .large-4.columns
          .col-box
            i.fa.fa-group
            h3 Manage Multiple Accounts
            p
              | Add multiple Instagram accounts into your dashboard for easy and simple control over multiple Instagram accounts.
        .large-4.columns
          .col-box
            i.fa.fa-mobile
            h3 Mobile Ready
            p
              | Our web based software is also 100% mobile friendly. Edit your settings on the go or login to check on your statistics.
        .large-4.columns
          .col-box
            i.fa.fa-life-ring
            h3 24/7 Support
            p
              | We're here to help! Our friendly support staff is available 24/7 to answer any questions through both chat and email.
    #started-wrapper.darkBlueBG
      .row
        .large-12.columns
          h2.white Don't Be Basic, Be Awesome
          h3.white Get real engagement on your Instagram right now!
          a.button.orange.large(href='https://app.InstagramHelper.com/signup') Start Your 3 Day Free Trial
    iframe#intercom_map_iframe(frameborder='0', src='')
      .row
        .large-12.columns.large-centered.center
          p Copyright © 2017 InstagramHelper. All Rights Reserved.
          ul
            li
              a.scroll(href='/#how-it-works') How It Works
            li
              a.scroll(href='/#features') Features
            li
              a(href='https://app.InstagramHelper.com/signup') Get Free Followers
            li
              a(href='https://app.InstagramHelper.com/') Sign In
            li
              a(href='/terms-of-service/') Terms of Service
            li
              a(href='/privacy-policy/') Privacy Policy
| e>
