doctype html
html#basic-html
  head
    meta(charset='utf-8')
    link(rel='dns-prefetch')
    link(href='//ajax.googleapis.com/ajax/libs/', rel='dns-prefetch')
    link(href='//cdnjs.cloudflare.com/ajax/libs/', rel='dns-prefetch')
    link(href='https://js.stripe.com/v2/', rel='dns-prefetch')
    link(href='//fonts.googleapis.com/', rel='dns-prefetch')
    link(href='//www.googletagmanager.com', rel='dns-prefetch')
    link(rel='preconnect')
    link(href='//ajax.googleapis.com/ajax/libs/', rel='preconnect')
    link(href='//cdnjs.cloudflare.com/ajax/libs/', rel='preconnect')
    link(href='https://js.stripe.com/v2/', rel='preconnect')
    link(href='//fonts.googleapis.com/', rel='preconnect')
    link(href='//www.googletagmanager.com', rel='preconnect')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', media='screen', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/ui-lightness/jquery-ui.css', data-turbolinks-track='reload')
    link(rel='stylesheet', media='screen', href='//cdn.app.boostgram.com/assets/application-77b8630ece0d0e5362e601934caf0d2e60cf8ce4d6960fbfeb9902f03f276572.css', data-turbolinks-track='reload')
    script(data-apikey='b6304bad49227c82ad9eae885a4772b6', data-appversion='1.66.1', data-releasestage='production', src='//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js')
    script(src='https://js.stripe.com/v2/', data-turbolinks-track='reload')
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js', data-turbolinks-track='reload')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js', data-turbolinks-track='reload')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js', data-turbolinks-track='reload')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js', data-turbolinks-track='reload')
    script(src='//cdn.app.boostgram.com/assets/application-a48d4b5c11e6408623d64f67e11bbc50182618b3918a4c8cb90bc7ee9e2f2f39.js', data-turbolinks-track='reload')
    meta(name='action-cable-url', content='wss://app.boostgram.com/cable')
    meta(content='user-scalable=no, initial-scale=1, maximum-scale=1,  minimum-scale=1, width=device-width, height=device-height', name='viewport')
    meta(content='telephone=no', name='format-detection')
    meta(content='no-preview', name='turbolinks-cache-control')
    link(href='//cdn.app.boostgram.com/assets/icons/favicon-12f64b5c93f1c4078eb2e7ebee50e2663c0d0d3556a6f56b8587177dd8976fb4.ico', rel='shortcut icon', type='image/x-icon')
    link(href='//cdn.app.boostgram.com/assets/icons/apple-touch-icon-74cee9c4fbb278201b46840cfb183a2f31ef30a1fe4417440dfbd25369213b3f.png', rel='apple-touch-icon')
    link(href='//cdn.app.boostgram.com/assets/icons/apple-touch-icon-57x57-74cee9c4fbb278201b46840cfb183a2f31ef30a1fe4417440dfbd25369213b3f.png', rel='apple-touch-icon', sizes='57x57')
    link(href='//cdn.app.boostgram.com/assets/icons/apple-touch-icon-72x72-ef6a5cd0d432d18216a709c6f7cdd227ada0f5b6b304dce62abdf4e191cdb968.png', rel='apple-touch-icon', sizes='72x72')
    link(href='//cdn.app.boostgram.com/assets/icons/apple-touch-icon-76x76-b0337ec2a7554704c1473b42220a560b1c2eff409fd95359788ee37d3d10f9cb.png', rel='apple-touch-icon', sizes='76x76')
    link(href='//cdn.app.boostgram.com/assets/icons/apple-touch-icon-114x114-ca804646a4eb6e650cbc2b2944e1b7d22089ac517d1185c5a7ec27bb758d40f2.png', rel='apple-touch-icon', sizes='114x114')
    link(href='//cdn.app.boostgram.com/assets/icons/apple-touch-icon-120x120-3522c5a4bec62dd90d5ecf9106f19b5c7a562c6cde29d61903b0a70bdbe745e7.png', rel='apple-touch-icon', sizes='120x120')
    link(href='//cdn.app.boostgram.com/assets/icons/apple-touch-icon-144x144-08780b2f26e146489f011d78dc23ea7cb77c0fe06d5194845ce834242c023f00.png', rel='apple-touch-icon', sizes='144x144')
    link(href='//cdn.app.boostgram.com/assets/icons/apple-touch-icon-152x152-168ff4176fd48f77fe392f2050e14b92b8303825e1a41e0655705296b95307eb.png', rel='apple-touch-icon', sizes='152x152')
    title Sign Up - Boostgram
    meta(name='csrf-param', content='authenticity_token')
    meta(name='csrf-token', content='658M3RHXQNiL6l6Xk1apLovS3yLcLpv75HyczWZrG06hW/IUlW2On7QhckoNyAgYipwiBQfwCMyd7vKIbk9gUg==')
  body#basic.customdevise.registrations.new
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-5F9X8K', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager
    .max-width-450.centered
      .widget.no-margin-bottom
        .whead.text-center.tall
          a(href='/')
            img(retina='true', data-at2x='//cdn.app.boostgram.com/assets/logo@2x-f156e7aa407cd2cdfdf7f874673aed0c6f976bd5289109904a49a557b784b721.png', src='//cdn.app.boostgram.com/assets/logo-0b4ae50a5f6e992f8ae7c63abc3207e6b1a096f4b2d4f4337d6a4aa42ea562bb.png', alt='Logo')
        #create
          form#new_registration_form.simple_form.sign-up-form(novalidate='novalidate', action='/', accept-charset='UTF-8', data-remote='true', method='post')
            .wbody
              .input-wrapper.email.required.registration_form_email
                label.field-wrap
                  .label
                    abbr(title='required')
                    |  Email
                  .field
                    input#registration_form_email.string.email.required.validate-email(autofocus='autofocus', required='required', aria-required='true', placeholder='enter your email', type='email', name='registration_form[email]')
              .input-wrapper.password.optional.registration_form_password
                label.field-wrap
                  .label Password
                  .field
                    input#registration_form_password.password.optional(placeholder='enter something secretive', type='password', name='registration_form[password]')
              .input-wrapper.hidden.registration_form_invite_code
                label.field-wrap
                  .label Invitation Code
                  .field
                    input#registration_form_invite_code.hidden(type='hidden', name='registration_form[invite_code]')
              .input-wrapper.hidden.registration_form_pid
                label.field-wrap
                  .label Pid
                  .field
                    input#registration_form_pid.hidden(type='hidden', name='registration_form[pid]')
            .wfoot.clearfix
              .form-notice
                | By clicking, you agree to our 
                a(href='http://boostgram.com/privacy-policy/', target='_blank') Privacy Policy
                |  and 
                a(href='http://boostgram.com/terms-of-service/', target='_blank') Terms of Service
                | .
              button.button.success.expanded Sign Up
      .link-box.text-center
        a(href='/signin') Already have an account?
